<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="http to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering allowDoubleEscaping="true">
                <requestLimits maxAllowedContentLength="704857600" maxUrl="30485760" maxQueryString="30485760">
                    <headerLimits>
                        <add header="Content-type" sizeLimit="10000000" />
                    </headerLimits>
                </requestLimits>
                <fileExtensions>
                    <add fileExtension=".n64" allowed="true" />
                    <add fileExtension=".z64" allowed="true" />
                    <add fileExtension=".eep" allowed="true" />
                    <add fileExtension=".sra" allowed="true" />
                    <add fileExtension=".ini" allowed="true" />
                    <add fileExtension=".dll" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <staticContent>
            <remove fileExtension=".deploy" />
            <remove fileExtension=".eep" />
            <remove fileExtension=".n64" />
            <mimeMap fileExtension=".n64" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".eep" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".smc" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".srm" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".msu" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".msp" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".deploy" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
